.block {
  padding: $padding-large;
}

.component {
  div:not(:last-child) {
    margin-bottom: $padding-large;
  }
}

.image {
  img {
    max-width: 100%;
  }
}

.title {
  font-size: $font-xlarge;
  color: $color-tertiary;
  text-transform: capitalize;
}
