@import "reset.scss";

.block {
  padding: $padding-large;
  background: $color-primary;
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: $font-base;
}

.component {
}
