.block {
  background: $color-tertiary;
  padding: $padding-large;
  color: $color-secondary-text;
}

.component {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
  }

  @media all and (max-width: 664px) {
    flex-direction: column;
    div {
      display: block;
    }
    div:not(:last-child) {
      margin-bottom: $padding-large;
    }
  }
}

.show {
  cursor: pointer;
}
