.block {
  background: $color-tertiary;
  padding: $padding-large;
}

.component {
  display: flex;
  justify-content: space-between;

  div {
    flex: 1;
  }

  @media all and (max-width: 664px) {
    & {
      flex-direction: column;
      div:not(:last-child) {
        margin-bottom: $padding-large;
      }
    }
  }

}

.show {
  cursor: pointer;
}
